@tailwind base;
@tailwind components;
@tailwind utilities;



.thin-scrollbar::-webkit-scrollbar {
  width: 4px;   /* vertical scrollbar */
  height: 4px;  /* horizontal scrollbar */
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 116, 139, 0.5); /* slate-500 */
  border-radius: 10px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 116, 139, 0.8);
}

/* Firefox */
.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(100,116,139,0.5) transparent;
}